<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card mx-auto mb-2 mt-2">
                    <div class="card-body bg-primary">
                        <h1 class="card-title text-center">Welcome: {{name}}
                        </h1>
                        <div class="card-deck">
                            <div class="card bg-light">
                                
                                <div class="card-body">
                                    <h4 class="card-title text-center">Add a User</h4>
                                    <p class="card-text">Register a new user. </p>

                                </div>
                                <div class="card-footer">
                                    <a routerLink="/register-user" role="button"
                                        class="btn btn-danger btn-block"><b>Create
                                            User</b>
                                    </a>
                                </div>
                            </div>

                            <div class="card bg-light">
                                
                                <div class="card-body">
                                    <h4 class="card-title text-center">Managers</h4>
                                    <p class="card-text">Display managers list.</p>

                                </div>
                                <div class="card-footer">
                                    <a routerLink="/managers" role="button" class="btn btn-danger btn-block"><b>View
                                            Managers</b></a>
                                </div>
                            </div>

                            <div class="card bg-light">
                                
                                <div class="card-body">
                                    <h4 class="card-title text-center">Engineers</h4>
                                    <p class="card-text">Display available engineers.</p>

                                </div>
                                <div class="card-footer">
                                    <a routerLink="/engineers" role="button" class="btn btn-danger btn-block"><b>View
                                            Engineers</b></a>
                                </div>
                            </div>

                            <div class="card bg-light">
                                
                                <div class="card-body">
                                    <h4 class="card-title text-center">Customers</h4>
                                    <p class="card-text">View all registerd customers.</p>

                                </div>
                                <div class="card-footer">
                                    <a routerLink="/customers" role="button" class="btn btn-danger btn-block"><b>View
                                            Customers</b></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>