body {
    background-image: url('https://img.freepik.com/free-photo/lady-safety-helmet-pointing-high-voltage-line_23-2148039989.jpg?w=1060&t=st=1691130174~exp=1691130774~hmac=d46022e1c527d6485ac605df707950c7d661c993ca2c229182dcd16bc2838cce');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}