<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid bg-secondary">
                <div class="text-center text-white">
                    <h1>Welcome {{name}} </h1>
                </div>
            </div>
            <div class="card-group mx-auto mb-3">
                <div class="card bg-info">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">Assign to Engineer</h4>

                    </div>
                    <div class="card-footer">
                        <a routerLink="/complaints/unassigned" role="button" class="btn btn-danger btn-block"><b>Assign</b></a>
                    </div>
                </div>
                <div class="card bg-warning">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">Assigned Tickets</h4>

                    </div>
                    <div class="card-footer">
                        <a routerLink="/complaints/assigned" role="button" class="btn btn-danger btn-block"><b>View
                                Tickets</b></a>
                    </div>
                </div>
                <div class="card bg-light">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">All Tickets</h4>

                    </div>
                    <div class="card-footer">
                        <a routerLink="/all-complaints" role="button" class="btn btn-danger btn-block"><b>View Tickets</b></a>
                    </div>
                </div>
                <div class="card bg-secondary">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">Feedback</h4>

                    </div>
                    <div class="card-footer">
                        <a routerLink="/customers-feedback" role="button" class="btn btn-danger btn-block"><b>View
                                Feedback</b></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>