<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid bg-secondary">
                <div class="text-center text-white">
                    <h1>Welcome {{name}} !</h1>
                </div>
            </div>
            <div class="card-deck mx-auto mb-3">
                <div class="card bg-light">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">Report your problem</h4>
                        <a routerLink="/create-complaint" role="button" class="btn btn-danger btn-block"><b>Raise
                                Ticket</b></a>
                    </div>
                </div>
                <div class="card bg-light">
                    
                    <div class="card-body">
                        <h4 class="card-title text-center">View all tickets</h4>
                        <a routerLink="/customer/get-complaints" role="button" class="btn btn-warning btn-block"><b>Check Status</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>